a,a:hover{
    text-decoration: none;
}
ul{
    list-style: none;
}
#sidebar{
    width: 300px;
    height: 100%;
    background-color: rgb(44, 113, 122);
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
#sidebar ul li a{
    display: block;
    font-size: 25px;
    text-align: left;
    color: wheat;
    padding: 10px 5px;
    border-bottom:1px solid gray ;   
    

}
#sidebar::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(65, 63, 60)5, 63, 60);
}
#sidebar::-webkit-scrollbar-thumb{
background-color: blue;

}
.logo{
    font-size: 40px;
    text-align: center;
    font-family: cursive;
    font-weight: 400;
    color: rgb(33, 77, 88);
}